/* Header */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 9rem;
    height: 2.3rem;
}
.topics a{
    margin-top: 0%;
    align-items: center;
    text-decoration: none;
    margin: 0.5rem;
    color: black;
}

.search-notif-user .notification{
    height: 1.5rem;
    width: 1.5rem;
}
.search-notif-user .user{
    width: 1.6rem;
    border-radius: 4rem;
}
.search-notif-user input{
    padding: 0.6rem;
    width: 6rem;
    height: 1.2rem;
}
.search-notif-user{
    display: flex;
    align-items: center;
}
.search-notif-user i{
    position:absolute;
    right:4rem;
    color: gray;
}

/* Main */

main{
    width: 98%;
    height: 60%;
    border: 1px solid black;
    
}
h1{
    color: rgb(188, 27, 27);
}

.rating{
    display: flex;
    align-items: center;
    width: 20rem;
    height: 1.3rem;
}
.rating .stars, .age-limit, .duration{
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.user-rating .imdb{
    color:gray
}
.rating .age-limit{
    border: 1px solid black;
}
.details nav ul a{
    display: block;
    padding-left:  0%;
    margin: 0;   
    justify-content: flex-start;
    
}
.details a{
    font-weight: bold;
    color: rgb(205, 29, 29);
}
.details span{
    color: black;
}

.details ul{
    padding-left: 0;
}
main button{
    width: 6rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(190, 16, 16);
}
/* Section popular movies*/
 .movie-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size:0.8rem; 
 }
.movie-card{
    border: 1px solid black;
    width: 9rem;
    height: 8rem;
}
.movie-container{
    display: flex;
    justify-content: space-between;
}
 .movie-card .age-limit {
    border: 1px solid black;
    width: 1.5rem;
    margin-right: 1rem;
}
.movie-card button{
    border-radius: 0.5rem;
    border: 1px solid rgb(211, 13, 13);
    width: 5.3rem;
    height: 1.5rem;
    margin-top: 0.7rem;
}
.movie-card .age-limit, .duration{
    display: inline;
    margin-right: .5rem;
}
section .movie-header h2,p{
    margin-bottom: 0;
}


/* Section recommende for you*/
/* Footer */
.first nav ul a{
    text-decoration: none;
    margin-right: 1rem;
    color: gray;
}
footer div p span{
    font-weight: bold;
}

.first{
    background-color: rgb(222, 219, 219);
    width: 25rem;  
    height: 8rem;
    box-sizing: border-box;
}
.second{
    background-color: rgb(222, 219, 219);
    width: 9rem;
    height: 8rem;

}
.third{
    background-color: rgb(222, 219, 219);
    width: 14rem;
    height: 8rem; 
}
.second div img{
    width: 2rem;
    height: rem;
    margin-right: 0.6rem;
    
}
.third div img{
    width: 6rem;
    height: 2rem;
    border-radius: 0.5rem;
}
footer {
    display: flex;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 3rem;
    justify-content: space-between;
    overflow-x: hidden;
}
footer ul{
  padding: 0;
  justify-content: flex-start;
}
.second , .third p{
    color: gray;
}
.store , .social-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
