/* Header */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 9rem;
    height: 2.3rem;
}
.topics a{
    margin-top: 0%;
    align-items: center;
    text-decoration: none;
    margin: 0.5rem;
    color: black;
}

.search-notif-user .notification{
    height: 1.5rem;
    width: 1.5rem;
}
.search-notif-user .user{
    width: 1.6rem;
    border-radius: 4rem;
}
.search-notif-user input{
    padding: 0.6rem;
    width: 6rem;
    height: 1.2rem;
}
.search-notif-user{
    display: flex;
    align-items: center;
}

/* Main */

main{
    width: 98%;
    height: 60%;
    border: 1px solid black;
    
}
h1{
    color: rgb(188, 27, 27);
}

.rating{
    display: flex;
    align-items: center;
    width: 20rem;
    height: 1.3rem;
}
.rating .stars, .age-limit, .duration{
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.user-rating .imdb{
    color:gray
}
.rating .age-limit{
    border: 1px solid black;
}
.details nav ul a{
    display: block;
    padding-left:  0%;
    margin: 0;   
    justify-content: flex-start;
    
}
.details a{
    font-weight: bold;
    color: rgb(205, 29, 29);
}
.details span{
    color: black;
}

.details ul{
    padding-left: 0;
}
main button{
    width: 6rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(190, 16, 16);
}
/* Section popular movies*/
 .movie-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size:0.8rem;
 }
.movie-card{
    border: 1px solid black;
    width: 9rem;
    height: 8rem;
}
.movie-container{
    display: flex;
    justify-content: space-between;
}
 .movie-card .age-limit {
    border: 1px solid black;
    width: 1.5rem;
    margin-right: 1rem;
}
.movie-card button{
    border-radius: 0.5rem;
    border: 1px solid rgb(211, 13, 13);
    width: 5.3rem;
    height: 1.5rem;
    margin-top: 0.7rem;
}
.movie-card .age-limit, .duration{
    display: inline;
    margin-right: .5rem;
}
/* Section recommende for you*/

 
